<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
</head>

<body>
  <nav>
    wikiMaps
    <!-- <button type="submit">Login</button>
    <button type="submit">Register</button> -->
    <div><button type="submit">My Maps</i></button>
      <button type="submit">Create Map</i></button>
      <button type="submit">Profile</i></button>
      <button type="submit">Logout</i></button>
    </div>

  </nav>

  <header></header>

  <main>
    <h1>wikiMaps is a collection of all your favorite places</h1>
    <p>Create and collaborate on maps of your favorite places.</p>
    <p>Plan your next vacation with wikiMaps.<button type="submit">Explore!</button></p>
    <p>Organize your pinned spots by restaurants, hiking spots, vacation destinations and more!</p>
  </main>

</body>

</html>
