<!DOCTYPE html>
<html lang="en">

<head>
  <title>wikiMaps</title>

  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- Mapbox -->
  <script src='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.js'></script>
  <link href='https://api.mapbox.com/mapbox-gl-js/v2.9.1/mapbox-gl.css' rel='stylesheet' />

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/layout.css" />

  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer type="module" src="/scripts/app.js"></script>
</head>

<%- include('partials/_header') %>

<body>

  <!-- <header>
    <h1 class="logo">MAPSTER</h1>
    <nav>
      <ul class="nav_links">
        <li><a href="#">Profile</a></li>
        <li><a href="#">Maps</a></li>
      </ul>
    </nav>
    <a class="cta" href="#"><button>Create</button></a>
  </header> -->


  <div id='map' style="height: 100vh; width: 100vw;"></div>

</body>

</html>
