<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://code.jquery.com/jquery-3.6.1.min.js"
    integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
    integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

</head>

<body>
  <nav>
    wikiMaps
    <!-- <button type="submit">Login</button>
    <button type="submit">Register</button>
    <button type="submit">Logout</button> -->

    <button type="submit">My Maps</i></button>
    <button type="submit">Create Map</i></button>
    <button type="submit">Logout</i></button>

  </nav>

  <header>My Maps<button type="submit">Create new map</button></header>
  <div>
    <button type="submit"><img
        src="https://image.shutterstock.com/image-photo/tranquil-beach-scene-exotic-tropical-260nw-644740495.jpg"
        alt="Italian Trulli"></button>
    <button type="submit"><img
        src="https://image.shutterstock.com/image-photo/tranquil-beach-scene-exotic-tropical-260nw-644740495.jpg"
        alt="Italian Trulli"></button>
  </div>
  <header>My Favorites</header>


  <main></main>
</body>

</html>
