body {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: start;
  min-height: 100vh;
  background-color: #ffffff;
  width: fit-content;

}

nav {
  position: fixed;
  height: 5em;
  background-color: #588254;
  color: #000000;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.profile-info {
  margin: 1em;
}

h2 {
  display:flex;
  justify-content: center;
}


.without-nav {
  margin: 3em;
  display: flex;
  margin-top: 8em;
}

.content-images {
  margin-left: 3em;
}

.user-profile {
  height: 40em;
  width: 25em;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #edd8be;
}

.map-images {
  display: flex;
  flex-direction: row;
}

button:hover {
  opacity: 1
}

main {
  display: flex;
  flex-direction: column;
}

.profile-images {
  height: 500px;
  box-sizing: border-box;
}

.img {
  float: left;
  width: 100px;
  height: 100px;
  object-fit: cover;
}
